@model TouristInsuredEntity.CovidModel

@{
    ViewBag.Title = "Covid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        font-size:16PX;
    }
</style>



    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="/Login/Login">Home</a><span></span>Covid-19</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/covi.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;top: 42%;left: 34%;font-size: 34px;width: 30%;height: 15%;">
                <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:0vw">
                    INFORMATION
                </h3>
            </div>
        </div>
    </div>
    <div class="section section-md novi-background bg-cover" style="    padding: 60px 0;">
        <div class="container">
            <p>
                2020, A year that barely anyone of us will forget ever.
                The world was shut, and we all were home, waiting for some good news to fight this deadly virus that has bought our life to halt.
                It was in movies that we use to see how an empty street, airport, or restaurant looks but we faced this in reality, and its sad to see everything so empty.
            </p>
            <p>
                Travel is one of the most important parts of our life is hard hit and we are slowly to the road of recovery. Hence after this pandemic, we have understood that health and trip insurance should be the most important part of our trip for any unwanted event.
            </p>
            <p>
                We are here to help you understand all the important information these insurance companies have come up with for COVID-19 coverage.
            </p>
            <p>
                Before you travel to the USA, it’s good to check the CDC website for all travel restrictions and precautions.
            </p>
            

            @*<div class="section-title" style="color:#043055;font-size: 40px;margin-bottom:0PX">PROVIDER</div>*@
        <h4 style="color:#043055;font-size: 22px;margin-bottom:1%;margin-top:3%;font-weight:600">PROVIDERS:</h4>
            <p>
                Please visit the links below of your desired provider and give a read before you buy their plans.
            </p>
            <br />
            <div class="row">
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <div class="product-minimal">


                        <div class="caption">

                            <div class="product-minimal-title" style="BORDER-STYLE: inset; PADDING: 5PX 10PX 5PX 10PX;text-align:center"><a href="https://portal.trawickinternational.com/news/covid/faq?_ga=2.11080247.22915398.1598917149-2086548250.1598917149&_gac=1.217842210.1598917149.EAIaIQobChMIgauKqM3G6wIVkxx9Ch070AlcEAAYAyAAEgL2FfD_BwE">TRAWICK INTERNATIONAL </a></div>


                        </div>

                    </div>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <div class="product-minimal">


                        <div class="caption">

                            <div class="product-minimal-title" style="BORDER-STYLE: inset; PADDING: 5PX 10PX 5PX 10PX;text-align:center"><a href="https://www.hccmis.com/travel-alerts/coronavirus/">TOKIO MARINE HCC  </a></div>


                        </div>

                    </div>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <div class="product-minimal">


                        <div class="caption">

                            <div class="product-minimal-title" style="BORDER-STYLE: inset; PADDING: 5PX 10PX 5PX 10PX;text-align:center"><a href="https://globalunderwriters.com/covid-19/">GLOBAL UNDERWRITERS  </a></div>


                        </div>

                    </div>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <div class="product-minimal">


                        <div class="caption">

                            <div class="product-minimal-title" style="BORDER-STYLE: inset; PADDING: 5PX 10PX 5PX 10PX;text-align:center"><a href="https://www.azimuthrisk.com/coronavirus.php">AZIMUTH RISK SOLUTIONS </a></div>


                        </div>

                    </div>
                </div>
                <div class="col-xxs-12 col-xs-6 col-sm-4">
                    <div class="product-minimal">


                        <div class="caption">

                            <div class="product-minimal-title" style="BORDER-STYLE: inset; PADDING: 5PX 10PX 5PX 10PX;text-align:center"><a href="https://www.imglobal.com/coronavirus">IMG </a></div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="row" style="margin-top:5%;margin-bottom:3%">
                <div class="col-md-4">
                    <a href="/login/login">
                        <p style="font-weight:700;MARGIN-TOP: 15PX;text-decoration:underline">
                            Buy plans with COVID-19 coverage
                        </p>
                    </a>
                </div>
                @*<div class="col-md-6">
                    <div class="">
                        <a type="submit" style="WIDTH: 140PX; padding: 0px 10px 0px 7px; border-style: inset" class="btn-default btn-form2-submit" href="/login/login">EXPLORE</a>
                    </div>
                </div>*@

                </div>
            
            </div>



    <div style="text-align:center; ">
        <h5 style="color:#555555"><b>DISCLAIMER </b></h5>
        <p style="color:#555555;padding-left:10PX;padding-right:10PX;font-size:13PX">
            Please refer to the plan brochure for accurate details, benefits, limitations, and exclusions. For every company and plan, benefits and conditions may differ. Information provided here is general and for knowledge-sharing purposes only. If you find any mismatch between the information provided on our website and the insurance companies' plan documents, be advised the insurance company’s plan documents take precedence.


        </p>
    </div>
</div>