@model TouristInsuredEntity.licenceModel

@{
                /**/

                ViewBag.Title = "licence";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .carrier:link {
        text-decoration: none;
    }

    .carrier:hover {
        color: red;
    }
</style>


    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="/Login/Login">Home</a><span></span>License Information</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/lice.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 34%;font-size: 34px;width: 36%;height: 15%;">
                <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:1vw">
                    LICENSE INFORMATION
                </h3>
            </div>
        </div>
    </div>
    <div class="section section-md novi-background bg-cover" style="padding: 60px 0;">
        <div class="container">
            <div class="section-title-md" style="color: #043055; ">
                Purchase with trust ! We are licensed throughout the United States of America.
            </div>
            <div class="row">

                <div class="col-xxs-12 col-xs-2 ">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a>ALABAMA </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">ALASKA </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2 ">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">ARIZONA </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2 ">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> ARKANSAS </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> CALIFORNIA </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>







                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">COLORADO </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">CONNECTICUT </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">DELAWARE</a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> FLORIDA </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> GEORGIA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>







                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">HAWAII </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">IDAHO  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">ILLINOIS </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> INDIANA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> IOWA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">KANSAS  </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">KENTUCKY  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">LOUISIANA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> MAINE  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> MARYLAND  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">MASSACHUSETTS  </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">MICHIGAN </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">MINNESOTA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> MISSISSIPPI  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> MISSOURI  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">MONTANA  </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">NEBRASKA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">NEVADA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> NEW HAMPSHIRE   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center"> NEW JERSEY   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">NEW MEXICO   </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>













                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">NEW YORK  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">NORTH CAROLINA   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> NORTH DAKOTA    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center">OHIO    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">OKLAHOMA   </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">OREGON  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">PENNSYLVANIA  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#"> RHODE ISLAND  </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center">SOUTH CAROLINA   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">SOUTH DAKOTA   </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">TENNESSEE   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">
                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">TEXAS    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">UTAH   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#" style="align-content:center">VERMONT    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">VIRGINIA   </a></div>
                                <div class="info">
                                    <span class="price" style="text-align:center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">WASHINGTON   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">WEST VIRGINIA    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">WISCONSIN    </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxs-12 col-xs-2">
                    <div class="product-minimal" style="border-style: inset;text-align:center">
                        <div class="thumbnail clearfix">

                            <div class="caption">
                                <div class="product-minimal-title"><a href="#">WYOMING   </a></div>
                                <div class="info">
                                    <span class="price"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </div>

        </div>


