
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eligibility</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            Eligibility Requirements
        </div>
        <table style="margin-left: 10px;">
            <tbody>
                <tr>
                    <td>
                        To be eligible :
                        <ol style="padding-left: 80px;">
                            <li>You must be under age 65; and</li>
                            <ol type="a">
                                <li>A full-time student at a college or university, excluding online colleges and universities; or</li>
                                <li>Within 31 days of being a full-time student at a college or university; or</li>
                                <li>A student under age 19 enrolled in a secondary school; or</li>
                                <li>A full-time scholar affiliated with an educational institution and performing work or research for at least 30 hours per week; and</li>
                            </ol>
                            <li>You must be residing outside your home country for the purpose of pursuing international educational activities; and</li>
                            <li>You must not have obtained residency status in your host country; and</li>
                            <li>If in the U.S., you must hold a valid education-related visa.  A copy of the I-20 or DS2019 may be requested.</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>
                        J-1 and F-1 visa holders: The full-time student/scholar status requirement is waived within the U.S. if you have a valid F-1 visa (including OPT) or a J-1 visa. Full-time status requirements remain in force for individuals holding M-1, or other category visas.
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        StudentSecure is not available to individuals who are physically located in the states of New York, Maryland, or Washington or in the country of Canada or Australia at time of purchase.
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px; padding-top: 7px;">
                        <strong>Eligibility Definitions</strong>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Full-time Student</strong> means a student at a college or university who is taking 10 credit hours (undergraduate students) or 6 credit hours (graduate students). Full-time student status for individuals enrolled at colleges or universities that do not use a credit hour system must provide documentation of full-time student status.
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Full-time Scholar</strong> means an individual who is affiliated with an educational institution and is engaging in educational activities for at least 30 hours per week. These activities may include but may not be limited to performing research in an area of specialty or teaching for a temporary period of time.
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <strong>Home Country</strong> means, for U.S. Citizens, the United States of America, regardless of the location of your principal residence.  For non-U.S. Citizens, home country is the country where you principally reside and receive regular mail.
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>