@model TouristInsuredEntity.ConfirmationModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="/Login/Login">Home</a><span></span>Contact Us</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/cont.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 37.5%;font-size: 34px;width: 22%;height: 15%;">
                <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:0vw">
                    CONTACT US
                </h3>
            </div>
        </div>
    </div>

    <div class="section section-md novi-background bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <div class="contact-banner">
                        <div class="banner-title" style="color:#043055">Tourist Insured Services LLC</div>
                        <br>
                        @*<p>202 W 7th St, Suite 233 Los Angeles, CA 90014 USA</p>*@
                        <p><i class="fa fa-envelope novi-icon" aria-hidden="true"></i> - <a href="mailto:#">customersupport@touristinsured.com</a></p>
                        <p><i class="fa fa-phone novi-icon" aria-hidden="true"></i> - <a href="tel:#">1-800-TOURIST</a></p>
                        <p><i class="fa fa-clock-o novi-icon" aria-hidden="true"></i> - Monday to Friday from 09.00 to 18.00(Eastern Time)</p>
                        @*<p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius consectetur tempor. Cras
            suscipit, mi ut ultrices pharetra, justo orci tempus augue, et lobortis nulla massa vel eros. Proin non
            lacus ex. Integer maximus malesuada tincidunt. Nunc pellentesque elit quis elit ultrices euismod.
            Vivamus fermentum laoreet leo. Praesent ut ex in arcu fermentum hendrerit a sit amet urna. Praesent
            fringilla augue tellus, in lobortis urna molestie ac. Mauris volutpat quam nec nibh bibendum
            ullamcorper. Vivamus eget imperdiet erat. Vivamus porta nisi mi.
        </p><br>*@


                      


                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-md-offset-1">
                    <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="forms" method="post" action="bat/rd-mailform.php">
                        <div class="row row-15 row-fix">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-name">Full name</label>
                                    <input class="form-input" id="forms-name" type="text" name="name" data-constraints="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-email">E-mail address</label>
                                    <input class="form-input" id="forms-email" type="email" name="email" data-constraints="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-wrap">
                                    <label class="form-label" for="forms-message">Message</label>
                                    <textarea class="form-input" id="forms-message" name="message" data-constraints=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn-default btn-form2-submit" style="  width: 45%;background: #07457a;content:none;border-style:none"><i style="font-size:15px" class="fa">&#xf0e0;</i> SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d775009.8166898472!2d-74.84215123417076!3d40.64350693957345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1590251480907!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
</div>
