@model TouristInsuredEntity.DoctorNowModel

@{
    ViewBag.Title = "DoctorNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>

        <div class="breadcrumbs1_wrapper novi-background">
            <div class="container">
                <div class="breadcrumbs1"><a href="/Login/Login">Home</a><span></span>24*7 DOCTOR</div>
            </div>
        </div>

        <div class="row">
            <div style="width:100% ;margin-bottom: 28px;position: relative;">

                <img src="~/images/img/docnow.jpg" style="width: 100%;" />
                <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 38%;font-size: 34px;width: 26%;height: 15%;">
                    <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:1vw;">
                        24*7 DOCTOR
                    </h3>
                </div>
            </div>
        </div>

        <br />
        <br />    <div style="height:600px;"></div>
    </div>