<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TouristInsured.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="username" value="AG10058" />
    <add key="password" value="gck!%ef#CYid" />
    <add key="IMGStatus" value="1" />
    <add key="INFStatus" value="0" />
    <add key="TrawickStatus" value="1" />
    <add key="AtlasStatus" value="1" />
    <add key="VisitorStatus" value="1" />
    <add key="DiplomatStatus" value="1" />
    <add key="StudentSecure" value="1" />
    <add key="AuthenticateINF" value="https://sbox.infplans.com/API/authenticate" />
    <add key="AuthentificateIMG" value="https://beta-services.imglobal.com/oAuth/token" />
    <add key="INFGETQuote" value="https://sbox.infplans.com/API/quotes" />
    <add key="TrawickGETQuote" value="https://API2017live.trawickinternational.com/API2016.asmx/GetRates?productID=" />
    <add key="AtlasGEtQuote" value="http://beta.hccmis.com/IWebAPI/api/atlastravel/v1/quote" />
    <add key="IMGQuote" value="https://beta-services.imglobal.com/API/quotes" />
    <add key="VisitorsQuote" value="http://beta.hccmis.com/IWebAPI/api/visitorsecure/v1/quote" />
    <!--<add key="Domainname" value="http://localhost:62048/"/>-->
    <add key="Domainname" value="https://erpcart.in/" />
    <add key="INFPurchase" value="https://sbox.infplans.com/API/purchase" />
    <add key="TrawickPurchase" value="https://api2017.trawickinternational.com/API2016.asmx/ProcessRequest" />
    <add key="AtlasPurchase" value="http://beta.hccmis.com/api/datastream/postatlastravel" />
    <add key="IMGPurchase" value="https://beta-services.imglobal.com/API/Purchases" />
    <!--<add key="connectiontouristinsured" value="data source=43.255.152.21;initial catalog=TBInsurance;user id=TBInsurance;password=Lk3b#5j0" />-->
    <!--<add key="connectiontouristinsured" value="data source=43.255.152.21;initial catalog=tbinsurance;user id=tbinsurance;password=lk3b#5j0" />-->
       <add key="connectiontouristinsured" value="data source=103.102.234.23;initial catalog=TouristInsured;user id=TouristInsured_user;password=Razl19%4" /> 
    <!--<add key="ConnectionTouristInsured" value="Data Source=DESKTOP-19GF2H6; Database=DBTouristInsuredServer; Integrated Security=True;" />-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SecurityProtocol" value="Tls12" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <trust level="Full" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITravelServices">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.imglobal.com/PurchaseWebService/Certificate/Travel/TravelServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelServices" contract="IMGService.ITravelServices" name="BasicHttpBinding_ITravelServices" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers />
  </system.codedom>
</configuration>