
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your description" />
    <meta name="keywords" content="Your keywords" />
    <meta name="author" content="Your name" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/light-gallery.css" rel="stylesheet" />
    <link href="~/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/pointer-events.js"></script>

    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/jquery.superslides.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.appear.js"></script>

    <script src="~/js/jquery.ui.totop.js"></script>
    <script src="~/js/jquery.caroufredsel.js"></script>
    <script src="~/js/jquery.touchSwipe.min.js"></script>
    <script src="~/js/material-parallax.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/rd-mailform.js"></script>
    <script src="~/js/rd-navbar.js"></script>
    <script src="~/js/light-gallery.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/waypoint.js"></script>
    <script src="~/js/scripts.js"></script>
    <style>

        .circle-container {
            position: relative;
            width: 24em;
            height: 24em;
            padding: 2.8em;
            /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
            /*border: dashed 1px;*/
            border-radius: 50%;
            margin: 7.75em auto 0;
        }

            .circle-container a {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4em;
                height: 4em;
                margin: -2em;
            }

            .circle-container img {
                display: block;
                width: 100%;
            }

        .deg0 {
            transform: translate(38em);
        }
        /* 12em = half the width of the wrapper */
        .deg45 {
            transform: rotate(45deg) translate(26em) rotate(-45deg);
        }

        .deg135 {
            transform: rotate(135deg) translate(26em) rotate(-135deg);
        }

        .deg180 {
            transform: translate(-38em);
        }

        .deg225 {
            transform: rotate(210deg) translate(32em) rotate(-225deg);
        }

        .deg270 {
            transform: rotate(255deg) translate(30em) rotate(-225deg);
        }

        .deg285 {
            transform: rotate(285deg) translate(29em) rotate(-285deg);
        }

        .deg315 {
            transform: rotate(325deg) translate(32em) rotate(-315deg);
        }
    </style>
    <style>
        div.fixed {
            z-index: +3;
            text-align: center;
            position: absolute;
            top: 11%;
            left: 18%;
            transform: translate(-50%, -44%);
            /*    width: 300px;
        border: 3px solid #73AD21;*/
        }
    </style>

</head>
<body>
    <div>

        <div class="row" style="">
            <div class="fixed">
                <img src="~/images/img/dfh.png" style="height:136px;width:375px" />

            </div>



            <div style="width:100% ;margin-bottom: 28px;position: relative;">

                <img src="~/images/img/mapvec2.png" style="width: 100%;opacity:0.3   " />
                <div style="z-index:+3;       text-align: center;        position: absolute;       top:-24%;        left: 50%;        transform: translate(-50%, -44%);">



                    <h1 style="    font-weight: 700;font-size:50px;padding-top:650PX;color:#E7CA6C"></h1>
                    <h3 style="font-weight: 600;    PADDING-LEFT: 120PX;    MARGIN-TOP: -15PX;"></h3>

                    <p style="font-size:20PX;color:#03b0b0;font-weight:700">
                        EVERYONE IN THIS WORLD IS A TOURIST FOR SOMEWHERE !!

                    </p>


                    <br />
                    <br />
                    <div class="row" style="padding-top:10px;display:none">
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo11.png" style="height:188PX;width:150PX;"></a>

                        </div>
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo22.png" style="height:188PX;width:150PX;"></a>

                        </div>
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo33.png" style="height:188PX;width:150PX;"></a>

                        </div>
                    </div>
                    <div class="row" style="padding-top:50px;display:none">
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo44.png" style="height:188PX;width:150PX;"></a>

                        </div>
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo55.png" style="height:188PX;width:150PX;"></a>

                        </div>
                        <div class="col-md-4">
                            <a href='#' class='center'><img src="~/images/img/lo66.png" style="height:188PX;width:150PX;"></a>

                        </div>


                    </div>






                </div>

                <div style="z-index:+3;margin-top:-42%;margin-left:13%; ">
                    <div class="row" style="">
                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: 0px;">
                            <a href='/Login/Login' class='center'><img src="~/images/img/let5.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>
                            <div class="product-box-vertical">


                                <div class="box-vertical-inner">

                                    <figure><a href="/Login/Login"><img src="~/images/img/lan3.png" style="height:146px;margin-left:0px; " class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: -65px;visibility:hidden">
                            <a href='#' class='center'><img src="~/images/img/let4.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="#"><img src="~/images/img/cd2.jpg" style="height:146px;margin-left:0px; " alt="" class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: 30px; ">
                            <a href='http://trip.touristtourist.com/' class='center'><img src="~/images/img/let3.png" style="height:105PX;width:95PX;  position: absolute; top:-7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="http://trip.touristtourist.com/"><img src="~/images/img/cd4.jpg" style="margin-left:0px; " alt="" class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="">
                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: 65px;visibility:hidden">
                            <a href='/Login/Login' class='center'><img src="~/images/img/let5.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>
                            <div class="product-box-vertical">


                                <div class="box-vertical-inner">

                                    <figure><a href="/Login/Login"><img src="~/images/img/lan3.png" style="height:146px;margin-left:0px; " class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: -65px;margin-top:-80PX">
                            <a href='#' class='center'><img src="~/images/img/let4.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="#"><img src="~/images/img/cd2.jpg" style="height:146px;margin-left:0px; " alt="" class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: -65px;visibility:hidden ">
                            <a href='#' class='center'><img src="~/images/img/let3.png" style="height:105PX;width:95PX;  position: absolute; top:-7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="#"><img src="~/images/img/cd4.jpg" style="margin-left:0px; " alt="" class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="">
                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: 0px;margin-top:-145px">
                            <a href='http://cruise.touristtourist.com/' class='center'><img src="~/images/img/let1C.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>
                            <div class="product-box-vertical">


                                <div class="box-vertical-inner">

                                    <figure><a href="http://cruise.touristtourist.com/"><img src="~/images/img/lan1.png" style="margin-left:0px; " class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: -65px;visibility:hidden">
                            <a href='#' class='center'><img src="~/images/img/let6.png" style="height:105PX;width:95PX;  position: absolute; top: -7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="#"><img src="~/images/img/cdh.jpg" style="margin-left:0px; " alt="" class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="width:30%;    PADDING:30px 70PX;    margin-left: 30px;margin-top:-145px">
                            <a href='#' class='center'><img src="~/images/img/let2.png" style="height:105PX;width:95PX;  position: absolute; top:-7px;  left: 26px; "></a>

                            <div class="product-box-vertical">
                                <div class="box-vertical-inner">
                                    <figure><a href="#"><img src="~/images/img/cd3.jpg" alt="" style="margin-left:0px; " class="img-responsive"></a></figure>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="z-index:+3;       text-align: center;        position: absolute;       top:83%;        left: 50%;        transform: translate(-50%, -51%);">

                        <p style="font-size:20PX;color:#03b0b0;font-weight:700">

                            PACK YOUR BAGS AND LET US UNPACK YOUR WORRIES !!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
