@model TouristInsuredEntity.MyAccounModel

@{
    ViewBag.Title = "MyAccoun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p:hover{
       text-decoration:underline;

    }

</style>
<div>

    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="index.html">Home</a><span></span>My Account</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/logpa.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 26%;font-size: 34px;width: 46%;height: 15%;">
                <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:1vw">
                    LOGIN AND POLICY DETAILS
                </h3>
            </div>
        </div>
    </div>

    <br />
    <br />


    <div class="modal fade popup-form" id="register" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"> CHANGE PASSWORD</h4>
                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="forms" method="post"
                          action="bat/rd-mailform.php">
                        <div class="row row-fix">
                            <div class="col-sm-12">
                                <div class="form-group form-wrap">
                                    <label for="regName">
                                        CURRENT PASSWORD
                                    </label><input type="text" class="form-control" id="regName" name="name"
                                                   data-constraints='@@Required'>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-wrap">
                                    <label for="regEmail">NEW PASSWORD</label><input type="text" class="form-control" id="regEmail" name="email"
                                                                                     data-constraints='@@Required'>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-wrap">
                                    <label for="passwordReg">CONFIRM NEW PASSWORD</label><input type="password" class="form-control" id="passwordReg"
                                                                                                name="pas" data-constraints='@@Required'>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-default btn-form2-submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div id="best" class="section section-md best novi-background bg-cover" style="padding-top: 0px;">
        <div class="container">
            @*<div class="section-title-md" style="color:#064070;">
                    MY LOG IN DETAILS:
                </div>*@
            <div class="tab-content">

                <div class="row row-fix">
                    <div class="col-sm-12 col-md-3">

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <ul class="product-filter">
                            <li>
                                <a style="font-size:15px"><span style="color:#043055;font-weight:700;font-size:15px">E-MAIL ID: </span> mdmahtab361@gmail.com</a>
                            </li>
                            <li>
                                <a href="#register" data-toggle='modal'><span style="color:#043055;font-weight:700;font-size:15px">CHANGE PASSWORD</span></a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            @*<div class="block-right">
                    <ul class="list-inline">
                        <li>
                            <a href="#register" data-toggle='modal'>REGISTER</a>
                        </li>
                    </ul>
                </div>*@

            <div class="section-title-md" style="PADDING-TOP: 60PX;padding-bottom:0PX;color:#064070;display:none">
                MY POLICY
            </div>

            <div class="tab-content" style="display:none">
                @*<div class="section-title-md" style="PADDING-TOP: 10PX;padding-bottom:15PX;    FONT-SIZE: 17PX;">
                        POLICY 1.
                    </div>*@
                <div class="row row-fix" style="">

                    <div class="col-sm-12 col-md-6" style="">
                        <ul class="product-filter">
                            <li>
                                <a href="#"><span style="color:#043055;font-weight:700">PLAN -</span> SAFE TRAVELS USA COST SAVER &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#043055;font-weight:700"> CERTIFICATE NUMBER -</span> 007987798789898709</a>
                            </li>

                            <li>
                                <a href="#"><span style="color:#043055;font-weight:700">REQUEST POLICY ID</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#043055;font-weight:700">ERROR CORRECTION</span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#043055;font-weight:700">RENEW</span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="color:#043055;font-weight:700">CANCEL</span></a>
                            </li>
                            @*<li>
                                    <a href="#">CANCEL-   </a>
                                </li>
                                <li>
                                    <a href="#">REQUEST POLICY ID- </a>
                                </li>
                                <li>
                                    <a href="#">ERROR CORRECTION-</a>
                                </li>
                                <li>
                                    <a href="#">PLAN BROCHURE- </a>
                                </li>*@
                            <li>
                                <a href="#">BUY AGAIN</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="section-md-bottom content novi-background bg-cover">
        <div class="container">
            <div class="row row-fix">
                <div class="col-sm-12 col-md-2">

                </div>
                <div class="col-sm-12 col-md-8  column-content" style="">
                    <div class="section-title-md" style="padding-bottom:15PX;color:#064070;text-align:left;    PADDING-LEFT: 17PX;text-decoration:underline">
                        MY POLICY
                    </div>
                    <div class="product-list-classic">
                        <div class="product-box-horizontal">
                            <div class="product-box-inner">
                                <div class="caption">
                                    <div class="caption-header">
                                        <div class="info1" style="text-align:center;max-width: 100%;">

                                            <div class="txt1" style="text-align:left; padding-left:10px;    font-size: 15px;   line-height: 1;   color: #555555;   font-weight: 600;   position: relative;   margin-bottom: 1px; transition: all .3s;text-decoration: none;padding-bottom:15px;">
                                                                              <span style="color:#043055;font-weight:700">PLAN -</span> SAFE TRAVELS USA COST SAVER <br /><br /><span style="color:#043055;font-weight:700">CERTIFICATE NUMBER -</span> 007987798789898709
                                            </div>

                                        </div>

                                    </div>
                                    @*<p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </p>*@
                                    <div class="caption-footer" style="margin-bottom: 15px;    PADDING-LEFT: 28PX;">
                                        <div class="info4" style="width: 700px;float: left;">
                                            <div class="row">
                                                <a href=""><div class="col-md-3" style="text-align:center  ;border-left: 1px dashed #555555; BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"> <p style="color:#043055;font-weight:700;font-size:15PX">REQUEST POLICY ID</p></div></a>
                                                <a href="">
                                                    <div class="col-md-3" style="text-align:center; align-content:center;   BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX"> ERROR CORRECTION</p></div>
                                                </a>
                                                <a href="">
                                                    <div class="col-md-3" style="text-align:center; align-content:center;   BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX">RENEW</p></div>
                                                </a>
                                                <a href=""> <div class="col-md-3" style="text-align:center;align-content:center;    BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX">CANCEL</p></div></a>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="" style="    MARGIN-LEFT: 2%;padding-bottom:13PX">
                                        <input type="button" style="width: 125px;border-style:inset" class="btn-default btn-form2-submit" value="BUY AGAIN" />

                                        @*<button type="submit" onclick="window.location.href='#'" class="btn-default btn-cf-submit3" style=" background: #07457a;content:none;font-weight: 700;margin-top: 0px; font-size: 16px;padding: 0 10px;">BUY AGAIN</button>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <br />
    <br />
    <div class="section-md-bottom content novi-background bg-cover" style=" margin-top: -8%;">
        <div class="container">
            <div class="row row-fix">
                <div class="col-sm-12 col-md-2">

                </div>
                <div class="col-sm-12 col-md-8  column-content">

                    <div class="product-list-classic">
                        <div class="product-box-horizontal">
                            <div class="product-box-inner">
                                <div class="caption">
                                    <div class="caption-header">
                                        <div class="info1" style="text-align:center;max-width: 100%;">

                                            <div class="txt1" style="text-align:left; padding-left:10px;   font-size: 15px;   line-height: 1;   color: #555555;   font-weight: 600;   position: relative;   margin-bottom: 1px; transition: all .3s;text-decoration: none;padding-bottom:15px;">
                                            <span style="color:#043055;font-weight:700">PLAN -</span> SAFE TRAVELS USA COST SAVER<br /><br /><span style="color:#043055;font-weight:700"> CERTIFICATE NUMBER - </span> 007987798789898709
                                            </div>

                                        </div>

                                    </div>
                                    @*<p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </p>*@
                                    <div class="caption-footer" style="margin-bottom: 15px;    PADDING-LEFT: 28PX;">
                                        <div class="info4" style="width: 700px;float: left;">
                                            <div class="row">
                                                <a href=""><div class="col-md-3" style="text-align:center  ;border-left: 1px dashed #555555; BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"> <p style="color:#043055;font-weight:700;;font-size:15PX">REQUEST POLICY ID</p></div></a>
                                                <a href="">
                                                    <div class="col-md-3" style="text-align:center; align-content:center;   BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX"> ERROR CORRECTION</p></div>
                                                </a>
                                                <a href="">
                                                    <div class="col-md-3" style="text-align:center; align-content:center;   BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX">RENEW</p></div>
                                                </a>
                                                <a href=""> <div class="col-md-3" style="text-align:center;align-content:center;    BORDER-RIGHT: 1px dashed #555555;margin-bottom: 0px;"><p style="color:#043055;font-weight:700;font-size:15PX">CANCEL</p></div></a>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="" style="    MARGIN-LEFT: 2%;padding-bottom:13PX">
                                        <input type="button" style="width: 125px;border-style:inset" class="btn-default btn-form2-submit" value="BUY AGAIN" />

                                        @*<button type="submit" onclick="window.location.href='#'" class="btn-default btn-cf-submit3" style=" background: #07457a;content:none;font-weight: 700;margin-top: 0px; font-size: 16px;padding: 0 10px;">BUY AGAIN</button>*@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
                    </div>



                </div>
            </div>
   