
@{
    ViewBag.Title = "comparetrail";
}
<div class="breadcrumbs1_wrapper novi-background">
    <div class="container">
        <div class="breadcrumbs1"><a href="index.html">Home</a><span></span>Compare Policy</div>
    </div>
</div>


<div class="row">
    <div style="width:100% ;margin-bottom: 28px;position: relative;">

        <img src="~/images/img/com11.jpg" style="width: 100%;" />
        <div style="background: rgb(0, 0, 0); /* Fallback color */background: rgba(21, 173, 187, 0.64);
color: #fff;text-align: center;margin-top: 0%;position: absolute;z-index: 3;border-radius: 8px; border: 1px solid #eeeeee;top: 42%;left: 41%;font-size: 34px;width: 20%;height: 15%;">
            <h3 style="FONT-SIZE:3vw;font-weight: bolder;    margin-top: 1vw;font-family:Open Sans;">
                COMPARE
            </h3>
        </div>
    </div>
</div>
<div class="section-md-bottom content novi-background bg-cover" style="  width:100%;      overflow-x: scroll;  flex-direction: row;">
    <div id="loader" style="display:none;"></div>

    <div class="" id="tabContainerId" style="        display: inline-flex; margin: 0 -16px;     display: flex;       flex-direction: row;">


        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            <p style=" text-decoration: none; background: none; font-family: 'Open Sans'  ; font-weight: 700; font-size: 13px;line-height: 20px;color: #07457a;" href="#" class="scroll">PRE EXISTING CONDITION (ACUTE ONSET/ RECURRENCE/ FULL) </p>

        </div>




        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>

        <div class="" style=" width: 25%;  float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesettin

        </div>

        <div class="" style=" width: 25%;float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


        </div>






    </div>
    <header style="display:block;border-bottom: 1px solid rgba(142,162,185,.4);"></header>

    <div class="" id="tabContainerId" style="        display: inline-flex; margin: 0 -16px;     display: flex;       flex-direction: row;">


        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            <p style=" text-decoration: none; background: none; font-family: 'Open Sans'  ; font-weight: 700; font-size: 13px;line-height: 20px;color: #07457a;" href="#" class="scroll">PRE EXISTING CONDITION (ACUTE ONSET/ RECURRENCE/ FULL) </p>

        </div>




        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </div>

        <div class="" style=" width: 25%;  float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum has been the industry when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </div>

        <div class="" style=" width: 25%;float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


        </div>






    </div>
    <header style="display:block;border-bottom: 1px solid rgba(142,162,185,.4);"></header>
    <div class="" id="tabContainerId" style="        display: inline-flex; margin: 0 -16px;     display: flex;       flex-direction: row;">


        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            <p style=" text-decoration: none; background: none; font-family: 'Open Sans'  ; font-weight: 700; font-size: 13px;line-height: 20px;color: #07457a;" href="#" class="scroll">PRE EXISTING CONDITION (ACUTE ONSET/ RECURRENCE/ FULL) </p>

        </div>




        <div class="" style=" width: 25%; float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </div>

        <div class="" style=" width: 25%;  float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum has been the industry when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </div>

        <div class="" style=" width: 25%;float: left;   padding: 12px 20px 24px;    min-height: 100%;border-left: 1px solid rgba(142,162,185,.4);">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


        </div>






    </div>
</div>
