@model TouristInsuredEntity.GrowWithUsModel

@{
    ViewBag.Title = "GrowWithUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        font-size:16px;
    }
</style>
<div>

    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="index.html">Home</a><span></span>Grow With Us</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/grow.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 38%;font-size: 34px;width: 26%;height: 15%;">
                <h3 style="FONT-SIZE: 3vw;font-weight: bolder;font-family:Open Sans;margin-top:0vw">
                    GROW WITH US
                </h3>
            </div>
        </div>
    </div>

    <div class="section section-md novi-background bg-cover" style="padding: 60px 0;">
        <div class="container">
         

                
                    <div class="banner-title" style=" color: #043055;font-weight: 700;    font-size: 20px;">AFFILIATE PROGRAM </div>
                    <br>

                    <p>
                        Integrate our banner on your website or blog and earn commission on each sale which is generated through your site’s traffic.
                    </p>


                

                <br />
                <br />
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-sm-12 col-md-6  column-content" style="">

                        <div class="product-list-classic">
                            <div class="product-box-horizontal">
                                <div class="product-box-inner">
                                    <div class="col-sm-6 col-md-6 col-md-offset-1" style="width: 100%;    margin-left: 0.333333%;">
                                        <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="forms">
                                            <div class="row row-15 row-fix">
                                                <div class="info1" style="text-align:center;max-width:100%">
                                                    <div class="txt1" style="font-size: 20px; text-align:justify;line-height: 1;color: #043055;font-weight: 600;   position: relative; padding-left:10px;  margin-bottom: 1px; transition: all .3s;text-decoration: none;padding-bottom:0px;margin-top: 15px;">
                                                        Fill in your details and we will get in touch with you.
                                                    </div>

                                                </div>
                                                <div class="col-md-12">


                                                    <div class="form-wrap">
                                                        <label class="form-label" for="forms-name"></label>
                                                        <input class="form-input" id="forms-name" placeholder="Full name" type="text" name="name" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="forms-email"></label>
                                                        <input class="form-input" id="forms-email" placeholder="E-mail address" type="email" name="email" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="mobile"></label>
                                                        <input class="form-input" id="mobile" type="text" placeholder="Mobile Number" name="mobile" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="COUNTRY"></label>
                                                        <input class="form-input" id="COUNTRY" type="text" placeholder="Country" name="email" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="City"></label>
                                                        <input class="form-input" id="City" type="text" placeholder="City" name="email" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="Comapany"></label>
                                                        <input class="form-input" id="Comapany" type="text" placeholder="Your Comapany Name" name="email" data-constraints="@@Required">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-wrap">
                                                        <label class="form-label" for="Website"></label>
                                                        <input class="form-input" id="Website" type="text" placeholder="Your Website / Blog" name="email" data-constraints="@@Required">
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <button type="submit" class="btn-default btn-form2-submit" style="  width: 125PX;background: #07457a;content:none;border-style:none">SUBMIT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





        </div>
    </div>


</div>