@model TouristInsuredEntity.whatToSee

@{
    ViewBag.Title = "whatToSee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="/Login/Login">Home</a><span></span>What to see in a Plan</div>
        </div>
    </div>

    <div class="row">
        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/wts.jpg" style="width: 100%;" />
            <div style="border-radius: 8px;
    border: 1px solid #eeeeee;background: rgb(0, 0, 0);background: rgba(21, 173, 187, 0.64);color: #fff;text-align: center;margin-top:1%;position: absolute;z-index: 3;top: 42%;left: 34%;font-size: 34px;width: 37%;height: 15%;">
                <h3 style="FONT-SIZE:3vw;font-weight: bolder;margin-top:0vw; font-family:Open Sans;">
                    WHAT TO SEE IN A PLAN
                </h3>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row">

        <div style="width:100% ;margin-bottom: 28px;position: relative;">

            <img src="~/images/img/plan.png" style="width: 100%;margin-left: 20px;padding-right: 16px;" />

        </div>
    </div>
    <div class="container">
        <div class="breadcrumbs1" style="text-align:center"><a href="/Login/Login" style="font-size:20px;text-decoration:underline">BUY PLANS</a></div>
    </div>
    <br />
    <div style="text-align:center; ">
        <h5 style="color:#555555"><b>DISCLAIMER </b></h5>
        <p style="color:#555555;padding-left:10PX;padding-right:10PX">
            Please refer to the plan brochure for accurate details, benefits, limitations, and exclusions. For every company and plan, benefits and conditions may differ. Information provided here is general and for knowledge-sharing purposes only. If you find any mismatch between the information provided on our website and the insurance companies' plan documents, be advised the insurance company’s plan documents take precedence.


        </p>
    </div>
</div>